<html>
<head>
	<title></title>
	   


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sugpat</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">


    <style type="text/css">
    
    body{
        background: url("https://www.glutenfreegigi.com/wp-content/uploads/2012/05/Celiac-Disease-and-Type-1-Diabetes.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100%;
        
    }

    html, body {
    min-height: 100%;
    }

    h4{
        margin-bottom: 2px;
    }
    
    .jumbotron{
        background-color: rgba(0,0,0,0.1);
    }

    .jumbotron p{ 
        font-size: 16px;
    }

</style>

    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/dashboard.js"></script>

    <script type="text/javascript" src="assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->


</head>
<body>

<div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand"  href="#" style = "padding: 0px;"><img  src="assets/my_assets/logo.png" alt="" style = "width:60px; height: 50px;"></a>
            <a class="navbar-brand" href="/profile" style = "padding-left: 0px;">Sugpat</a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

            <div class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            </div>
        </div>
</div>

<div class = "container " style = "margin-top: 35px;">
    <div class = "row">
         <div  style = "width: 35%; margin: 0 auto">
            <div class = "jumbotron jspecial" style = "border-radius: 20px;">
                <form action = "/register" method = "post">
                    <h3 align = "center" style = "font-family: comic sans ms;">Sugpat</h3> 
                    <h4 align = "center"><strong>Create Account</strong></h4>   
                     <div class = "form-group">
                     	<h4>Name</h4>
                        <input class = "form-control" type="text">
                     </div>
                     <div class = "form-group">
                        <h4>CNIC No</h4>
                        <input class = "form-control" type="text">
                     </div>
                     <div class = "form-group">
                        <h4>Email</h4>
                        <input class = "form-control" type="text">
                     </div>
                        <div class = "form-group">
                     	    <h4>Password</h4>
                            <input class = "form-control" type="password">
                        </div>
                     <div class = "form-group">
                        <h4>Mobile No</h4>
                        <input class = "form-control" type="text">
                     </div>
                     <div class = "form-group">
                        <h4>Age</h4>
                        <input class = "form-control" type="text">
                     </div>
                     <div class = "form-group">
                        <h4>Qualification</h4>
                        <input class = "form-control" type="text">
                     </div>
                     <div class = "form-group">
                        <h4>Specialization</h4>
                        <input class = "form-control" type="text">
                     </div>
                     <div class = "form-group">
                        <h4>Doctor Description</h4>
                        <textarea class = "form-control" type="text"></textarea>
                     </div>
                     
                     <div class = "form-group">
                        <h4>Gender</h4>
                    <select class = "btn btn-block">
   
                        <option>Select</option>
                        <option>Male</option>
                        <option>Female</option>

                    </select>
                     </div>   

                     
                     
                     <div class = "form-group">
                        <input class = "btn btn-lg btn-primary btn-block" type = "submit" value  = "Create Account"> 
                     </div>
                     <div>
                        <p class = "terms">By clicking "Create Account", you agree to our <a href="#">Terms & Conditions </a>and <a href="#">Privacy Policy</a></p>
                     </div>
                </form>
            </div>    
         </div>
    </div>
</div>

</body>
</html>